/* Root */
:root {
  --deep: #1b1b2f;
  --acc1: #1f4068;
  --acc2: #e43f5a;
  --acc2dimmed: #dc6478;
  --txt: 'SF Pro Text', 'SF Pro Icons', 'AOS Icons', 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
  --txtc: #fbfdff;
}
* {
  box-sizing: border-box;
  font-family: var(--txt);
}
body {
  background-color: var(--deep);
  color: var(--txtc);
}
/* Hero section */
#about {
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#itsMe {
  width: 300px;
  border-radius: 5px;
}
.heroContent {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.not {
  text-decoration: line-through;
}
.follow a {
  text-decoration: none;
  color: var(--acc2);
  transition: 0.3s;
}
.follow a:hover {
  color: var(--deep);
}
